<form (ngSubmit)="validate()" #logfrm="ngForm">
<table class="table table-dark">
<tr><td>Username</td>
    <td><input name="userid" #userid=ngModel [(ngModel)]="auth.userid" pattern="[a-zA-Z]{5,}" required> 
    <span *ngIf="userid.dirty &&userid.invalid" class="alert-danger" class="form-control">User id is invalid</span>
    </td>
</tr>
<tr><td>Password</td>
    <td><input name="passwd" #passwd=ngModel type="password" [(ngModel)]="auth.passwd" pattern="[a-zA-Z0-9]{6,}">
        <span *ngIf="passwd.dirty && passwd.invalid" class="alert-warning" class="form-control">Password is invalid</span>
    </td>
</tr>
<tr><th colspan="2"><button class="btn btn-success" type="submit" [disabled]=!logfrm.valid>Login</button></th></tr>
</table>
    <div [hidden]=!flag>
        Userid :{{auth.userid}}<br>
        Password:{{auth.passwd}}
    </div>
</form>